@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #ff8a71);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #ff8a71);

    --color-bg: #040c18;
    --color-footer: #031b34;
    --color-blog: #0a3c6e;
    --color-text: #81afdd;
    --color-subtext: #ff8a71;
}